body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    min-width: 900px;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: rgb(43, 43, 43);
    color: white;
}

#content{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0px;

}

.btn,
#footer{
    background-color: #0F52BA;
}

.btn:hover{
    cursor: pointer;
}

#grid{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 604px;
    min-width: 604px;
    padding: 0px;
    border: 2px solid #0F52BA;
    background-color: white;
}

#grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    height: 100%;
}

.grid-cell{
    border: 1px solid black;
    box-sizing: border-box;
}

#cell-count-selector{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

#slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#slider-value{
    margin: 0px;
    padding: 0px;
    font-size: 26px;
    font-weight: bold;
}

#slider{
    width: 100%;
}

#slider:hover{
    cursor: pointer;
}

#menu{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#color-picker{
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}

#brush-color{
    width: 100px;
}

#brush-color:hover{
    cursor: pointer;
}

#logo{
    width: 290px;
    height: auto;
    justify-self: flex-start;
}

#brushes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 210px;
    border: 1px solid #0F52BA;
    font-size: 22px;
    font-weight: bold;
    padding: 0px 20px;
}

#brushes div{
    display: flex;
    width: 100%;
    justify-content: space-between
}

.btn{
    width: 250px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    padding: 7px;
}


#footer{
    margin: 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    gap: 10px;
}

#footer img{
    height: 40px;
    width: 40px;
}


/* CUSTOM RADIO BUTTONS */


.radio-container {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    background-color: #eee;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    background-color: green;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (checkmark) */
  .radio-container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }