body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    min-width: 900px;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: rgb(43, 43, 43);
    color: white;
}

#content{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0px;

}

.btn,
#footer{
    background-color: #0F52BA;
}


#grid{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 604px;
    min-width: 604px;
    padding: 0px;
    border: 2px solid #0F52BA;
    background-color: white;
}

#grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    height: 100%;
}

.grid-cell{
    border: 1px solid black;
    box-sizing: border-box;
}

#slider-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#slider-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#color-picker{
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}

#logo{
    width: 290px;
    height: auto;
    justify-self: flex-start;
}

#brushes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 210px;
    border: 1px solid white;
    font-size: 28px;
    font-weight: bold;
    padding: 0px 20px;
}

#brushes div{
    display: flex;
    width: 100%;
    justify-content: space-between
}

.btn{
    width: 250px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    padding: 7px;
}


#footer{
    margin: 0px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
